.dark-background {
  --background: #121212;
  background-color: #121212;
}

.dark-item {
  --background: #000;
  background-color: #000;
}

.white-text {
  color: #fff;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
