<ion-header>
  <ion-toolbar>
    <ion-title>Canciones</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="songs && songs.length > 0">
    <ion-item *ngFor="let song of songs" (click)="selectSong(song)">
      {{ song.name }}
    </ion-item>
  </ion-list>

  <ion-text *ngIf="!songs || songs.length === 0" color="medium">
    <p class="ion-padding">No hay canciones para mostrar.</p>
  </ion-text>
</ion-content>
